@tailwind base;
@tailwind components;
@tailwind utilities;

.start-applying-btn {
    @apply bg-gradient-to-r from-[#7E90FE] to-[#9873FF] rounded-[8px] text-white p-3
}

.get-start-btn {
    @apply bg-gradient-to-r from-[#7E90FE] to-[#9873FF] rounded-[8px] p-4 text-white
}

.heading-title {
    @apply text-center font-bold text-3xl mt-20
}

.active {
    @apply text-[#7E90FE] underline
}

.btn-outlines {
    @apply px-3 py-1 border border-[#7E90FE] text-indigo-400 rounded
}